//
   Created by Andy on 2017/11/13.

div.phraseForm(
ng-class={
   'hide':!charSate.phraseFormState,
   'show':charSate.phraseFormState
})
   ul.phraseList(
   ng-class={
      'hide':!charSate.phraseFormState,
      'show':charSate.phraseFormState
   })
      li.phraseForm(
      ng-repeat=item in charSate.phraseAry
      ng-click=isChoseAPhrase(item.content,$event,$index)
      )
         span(ng-bind="item.title")
