.user-list-frame {
  width: 50%;
  height: 30%;
  position: fixed;
  left: 1rem;
  top: 5rem;
  z-index: 9999;
  background: #333;
  box-shadow: 4px 6px 10px rgba(64, 64, 64, 0.7);
  display: flex;
  flex-direction: column;
  .user-list-close-button{
    width: 3rem;
    height: 3.6rem;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size:3rem;
  }

  .user-list-header {
    height: 3.6rem;
    text-align: center;
    color: #fff;
    width: 100%;
    z-index: 2;
    flex-shrink: 0;
    display: block;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    background: #00754b;
    border: 1px solid #0c864b;
    box-sizing: border-box;
    h2{
      line-height: 300%;
    }
  }

  .user-list-content {
    width: 100%;
    height: 100%;
    //position: absolute;
    //padding-top: 3rem;
    box-sizing: border-box;
    flex-shrink: 1;
    //top: 0;
    //left: 0;
    z-index: 1;
    overflow: auto;
    border: 1px solid #00a253;
  }

  .user-close{
    left:0;
    top:0;
  }
  .extend-trigger{
    width: 4rem;
    height: 4rem;
    position: absolute;
    bottom: -2rem;
    right: -2rem;
    z-index: 3;
  }
}


.head-bar-left-button-frame {
  background: none;
  position: relative;
  overflow: visible;
  margin: 0 auto;
  width: 3.6rem;
  display: block;
  height: 3.6rem;
  border: 1px solid #1A3755;
  outline:none;
  border-radius: 4px;
  border-bottom: 1px solid #1d2f42;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  .head-bar-left-button{
    width: inherit;
    height: inherit;
    top: 0;
    position: absolute;
    left: 0;
    background-size: 70%;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    &:focus{
      outline:none;
    }
  }

  .head-bar-left-button-normal{
    border-top: 1px solid #52657a;
    border-bottom: 1px solid #1A3755;
  }

  .head-bar-left-button-active{
    border-top: 1px solid #1e4267;
    border-bottom: 1px solid #4b6077;
  }

}


.item-list{
  display:flex;
  flex-flow: row;
  overflow: hidden;
  button{
    flex-shrink: 1;
    box-sizing: border-box;
  }
  .item-button{
    flex-shrink: 1;
    box-sizing: border-box;
    border-right: 1px solid #808080;
  }
  .extend-button{
    flex-shrink: 1;
    width: 5.6rem;
    border-left: 1px solid #00f19b;
    box-sizing: border-box;
  }
  /*.send-msg{
    background:url("../images/send_msg.png") no-repeat center center;
    -webkit-background-size: 3.6rem;
    background-size: 3.6rem;
  }*/
}
