
.individual-set-tips-button {
  text-align: center;
  margin: -1rem 0 0 0;
  height: 4.5rem;
}

.individual-set-tips-button-hit {
  background: #F1F1F1;
}

.init-button {
  background: none;
  border: none;
  outline: none;
}

.item-button {
  margin: 0 0 -1px 0;
  color: #626262;
  font-size: 1.6rem;
  line-height: 150%;
  border-bottom: 0;
  border-color: transparent;
  background: #fff;
  box-shadow: none;
  width: 100%;
  border-top: 1px solid #E5E5E7;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
  padding: 1.5rem 1.2rem;
  &:disabled{
    color:#ccc !important;
  }
}


.item-button:focus {
  outline: none;
}

.item-button-full {
  padding: 0;
}
.item-button:focus {
  outline: none;
}

.button-separate{
  border-right: 1px solid #09223d;
  border-left: 1px solid #09223d;
}



.bottom-bar-button-box {
  /*padding: 7rem 0;*/
  width: 100%;
  height: 100%;
  /*background-color: #38699c;*/
  z-index: 16;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
}

.bottom-bar-button-box :last-child {
  border-right: none;
  z-index: 1;
}

.bottom-bar-button-box :first-child {
  z-index: 3;
}

.bottom-bar-button {
  flex-shrink: 1;
  background-color: #477CB3;
  border: none;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1.6rem;
  font-size: 1.7rem;
  text-align: center;
  width: 34%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid #B3D8FF;
  border-right: 1px solid #38699C;
  z-index: 2;
  overflow: hidden;
  box-sizing: border-box;
}

.bottom-bar-button:disabled {
  color: #79B1F5;
}

.bottom-bar-button1 {
  width: 100%;
}

.bottom-bar-button2 {
  width: 50%;
}

.bottom-bar-button3 {
  width: 34%;
}

