

.subordination-text {
  color: #ccc !important;
}

.light-text {
  color: #027dff !important;
}
.unlight-text {
  color: #02000e !important;
}
.dark-state {
  background: #02000e !important;
}
.href-text {
  color: #007DFF !important;
}

.warn-text {
  color: #FF3834 !important;
}

.disable-text {
  color: #ccc !important;
}

.slaver-text{
  color: #adadad !important;
}
.oblique{
  font-style: oblique;
}