div#charHead.charHeadForm
	div.char-back-btn(ng-click="hideCharForm()")
		span.table-cell
			i.arrow-left.arrow-layout-middle(style="border-color:#fff")
	div.char-title
		span(ng-bind="charSate.charWith") 远程对象
	div.char-close-btn(ng-click="hideCharForm()")
		span.table-cell