

header#headBar
   button#headBarLeft.head-bar-left(disabled=true)
      p.head-bar-left-inner
         span.head-bar-left-text
   button#Title.head-bar-title(
      disabled=true ng-bind="title"
   )
   div#headBarRight.head-bar-right
      div.table.full
         div.table-cell-center
            button.head-bar-right-button
               i
                  em.tip-pop