//
   Created by Andy on 2017/11/13.

div#RMTCharFrame(
ng-class=['charForm', 'alert-box', {'hide': !charSate.charFormState, 'show': charSate.charFormState}]
ng-click="charSate.phraseFormState = false"
)
   head-bar
   content-box
   foot-bar

phrase-form
hover-button
