//
   Created by Andy on 2017/11/13.

div(ng-show = "charShow" unremote)
   div.char-form
      char-head-bar.char-head-bar
      char-content-box.char-content-box
      char-foot-bar.char-foot-bar

   phrase-form
