//
   Created by Andy on 2017/12/23.

div.alert-box.box-background(ng-show="promptVisible")
   div.box-frame.tip-box-wide
      div.box-head
         h1.box-title 提示
      div.box-content
         pre.box-p {{message}}
      div.bottom-bar-button-box
         button.bottom-bar-button.bottom-bar-button1(ng-bind="confirmText" ng-click="confirmBehavior()") 确认
         button.bottom-bar-button(ng-show="cancelBehavior" ng-bind="cancelText" ng-click="cancelBehavior()") 取消