
.char-body{
  width:100%;
  height:100%;
  flex-shrink: 3;
  overflow: auto;
}
.native-content{
  flex-direction:row;

  .char-username {
    letter-spacing: 1px;
    color: #9B9B9B;
    padding-bottom: 5px;
    text-align: left;
  }
}
.opposite-content{
  flex-direction:row-reverse;

  .char-username {
    letter-spacing: 1px;
    color: #9B9B9B;
    padding-bottom: 5px;
    text-align: right;
  }
}


.RMTChar-timer {
  text-align: center;
  font-size: 1.4rem;
  color: #666666;
  padding: 1rem 0;
}


.char-block {
  position: relative;
  padding: 0.5rem 1rem 1rem;
  //margin: 0.5rem 0;
  box-sizing: border-box;
  border-radius: 7px;
  //background: #efefef;
  text-align: left;
  word-break: break-all;
  display: flex;

  .item-descriptor{
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
  }
  .item-value{
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    padding: 0 7px 3px 7px;

    .char-content {
      height: 100%;
      box-sizing: border-box;
      flex-shrink:1;
      z-index: 2;
      .char-sentence {
        line-height: 150%;
        color: #4A4A4A;
        padding: 1rem 0.7rem 1rem 0.7rem;
        flex-shrink:1;
        background: #efefef;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        overflow:hidden;
        display:inline-block;
      }

    }

  }
}


.char-pop-corner{
  display: inline-block;
  width: 10px;
  height: 15px;
  background: #fff;
  //display: block;
  //position: relative;
  overflow: hidden;
  //top: 7px;
  //right: -10px;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  transform: rotateY(0deg);
  /*IE*/
  filter: FlipH;
}

.char-pop-corner:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  background: #efefef;
  width: 28px;
  border-radius: 100%;
  height: 22px;
  z-index: 1;
  transform: rotate(90deg);
}

.char-pop-corner:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  background: #ffffff;
  width: 20px;
  border-radius: 100%;
  height: 15px;
  z-index: 2;
}


.RMTChar-remote .char-pop-corner {
  width: 10px;
  height: 15px;
  background: #fff;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 7px;
  left: -10px;
}

.RMTChar-native .char-pop-corner {
  width: 10px;
  height: 15px;
  background: #fff;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 7px;
  right: -10px;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  transform: rotateY(180deg);
  /*IE*/
  filter: FlipH;

}