@charset "UTF-8";
.individual-set-tips-button {
  text-align: center;
  margin: -1rem 0 0 0;
  height: 4.5rem; }

.individual-set-tips-button-hit {
  background: #F1F1F1; }

.init-button {
  background: none;
  border: none;
  outline: none; }

.item-button {
  margin: 0 0 -1px 0;
  color: #626262;
  font-size: 1.6rem;
  line-height: 150%;
  border-bottom: 0;
  border-color: transparent;
  background: #fff;
  box-shadow: none;
  width: 100%;
  border-top: 1px solid #E5E5E7;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
  padding: 1.5rem 1.2rem; }
  .item-button:disabled {
    color: #ccc !important; }

.item-button:focus {
  outline: none; }

.item-button-full {
  padding: 0; }

.item-button:focus {
  outline: none; }

.button-separate {
  border-right: 1px solid #09223d;
  border-left: 1px solid #09223d; }

.bottom-bar-button-box {
  /*padding: 7rem 0;*/
  width: 100%;
  height: 100%;
  /*background-color: #38699c;*/
  z-index: 16;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap; }

.bottom-bar-button-box :last-child {
  border-right: none;
  z-index: 1; }

.bottom-bar-button-box :first-child {
  z-index: 3; }

.bottom-bar-button {
  flex-shrink: 1;
  background-color: #477CB3;
  border: none;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1.6rem;
  font-size: 1.7rem;
  text-align: center;
  width: 34%;
  height: 100%;
  border-top: 1px solid #B3D8FF;
  border-right: 1px solid #38699C;
  z-index: 2;
  overflow: hidden;
  box-sizing: border-box; }

.bottom-bar-button:disabled {
  color: #79B1F5; }

.bottom-bar-button1 {
  width: 100%; }

.bottom-bar-button2 {
  width: 50%; }

.bottom-bar-button3 {
  width: 34%; }

.subordination-text {
  color: #ccc !important; }

.light-text {
  color: #027dff !important; }

.unlight-text {
  color: #02000e !important; }

.dark-state {
  background: #02000e !important; }

.href-text {
  color: #007DFF !important; }

.warn-text {
  color: #FF3834 !important; }

.disable-text {
  color: #ccc !important; }

.slaver-text {
  color: #adadad !important; }

.oblique {
  font-style: oblique; }

.arrow-common, .arrow-left, .arrow-right, .arrow-up, .arrow-down {
  width: 1rem;
  height: 1rem;
  border-right: 2px solid #d5d5d5;
  border-top: 2px solid #d5d5d5;
  float: right;
  position: relative;
  top: .3rem; }

.arrow-left {
  transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -o-transform: rotate(-135deg); }

.arrow-right {
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg); }

.arrow-up {
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  right: 1.0rem; }

.arrow-down {
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  right: 1.0rem; }

.arrow-active {
  border-right: 2px solid #f79594;
  border-top: 2px solid #9bdbff; }

.arrow-disabled {
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc; }

.ico-close {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  font-size: inherit; }

.ico-close:before {
  transform: rotate(45deg);
  position: absolute;
  width: inherit;
  height: inherit;
  top: inherit;
  left: inherit;
  content: "+";
  font-size: inherit;
  color: inherit;
  line-height: inherit; }

.ico-extend {
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden; }
  .ico-extend:before {
    content: '';
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border: 1px solid #008343;
    transform: rotate(45deg); }
  .ico-extend:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #008343;
    top: 1rem;
    left: 1rem;
    transform: rotate(45deg);
    box-shadow: -1px 0px 1px rgba(102, 114, 178, 0.5); }

.tip-pop {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  line-height: 150%;
  font-size: 12px;
  text-align: center;
  background: #f72828;
  border: 0;
  color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: absolute;
  top: -6px;
  right: -6px; }

.scroll-table-header {
  flex-shrink: 1;
  background: #FFF;
  width: 100%;
  height: auto;
  z-index: 15;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: relative;
  top: 0;
  right: 0; }

.scroll-table-body {
  flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  z-index: 13;
  background-color: #EFEFEF;
  position: relative;
  top: 0;
  right: 0; }

.scroll-table-footer {
  width: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: #477CB3;
  z-index: 16;
  overflow: hidden;
  height: 6rem;
  box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2); }

.scroll-table-body, .scroll-table-footer, .scroll-table-header {
  /*-webkit-transform: translateZ(0);*/
  /*-moz-transform: translateZ(0);*/
  /*-ms-transform: translateZ(0);*/
  /*-o-transform: translateZ(0);*/
  /*transform: translateZ(0);*/
  /*will-change: transition;*/
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; }

.scroll-table-header table, .scroll-table-body table {
  width: 100%;
  margin: 0;
  background: #fff;
  overflow-x: auto;
  word-wrap: break-word;
  word-break: break-all; }

.scroll-table-header tr, .scroll-table-body tr {
  cursor: pointer; }

.scroll-table-header th, .scroll-table-body th {
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: #fff;
  color: #999;
  font-weight: 400;
  border: 1px #fff solid;
  text-align: center;
  height: 4.5rem;
  padding: 0; }

.scroll-table-header td, .scroll-table-body td {
  border: 1px #E1E3E7 solid;
  padding: 1.2rem;
  font-size: 1.6rem;
  box-sizing: border-box;
  color: #333;
  word-break: break-all;
  text-align: left; }

.scroll-table-header tr:nth-child(odd) td, .scroll-table-body tr:nth-child(odd) td {
  background-color: #f5f5f5; }

.scroll-table-header .no-break, .scroll-table-body .no-break {
  word-break: keep-all;
  white-space: nowrap; }

.scroll-table-header .t-center-cbx, .scroll-table-body .t-center-cbx {
  text-align: center;
  width: 1.0rem; }

.scroll-table-header .t-center, .scroll-table-body .t-center {
  text-align: center; }

.scroll-table-header h1, .scroll-table-body h1 {
  color: #999;
  display: block;
  height: auto;
  line-height: 200%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; }

.scroll-item {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 -1px 0;
  color: #626262;
  font-size: 1.6rem;
  border-bottom: 0;
  border-color: transparent;
  width: 100%;
  height: 6rem;
  padding: 0 1.2rem;
  border-top: 1px solid #E5E5E7;
  overflow: hidden; }

.scroll-item-common, .scroll-item-description, .scroll-item-value, .scroll-item-ico {
  flex-grow: 1;
  height: 100%;
  display: block; }

.scroll-item-description {
  width: 45%;
  order: 1;
  text-align: left; }

.scroll-item-value {
  width: 45%;
  flex-grow: 1.5;
  order: 2;
  text-align: right; }

.scroll-item-ico {
  flex-grow: 0.1;
  width: 1.6rem;
  order: 3;
  position: relative; }

.scroll-item:focus {
  outline: none; }

.flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column; }

.kick-out {
  position: absolute;
  left: -999.9rem; }

.circle {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%; }

.hide {
  display: none; }

.full, .page-box, .directive-box {
  width: 100% !important;
  border: 0 !important;
  height: 100% !important; }

.full-width {
  width: 100% !important; }

.table {
  display: table; }

.table-cell, .table-cell-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.table-cell-center {
  text-align: center; }

.animation {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; }

.page {
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: #416595;
  position: relative;
  top: 0;
  right: 0; }

.page-box {
  display: flex;
  flex-flow: column; }

.directive-box {
  z-index: 99999;
  position: absolute;
  top: 0;
  right: 0; }

.frosted-glass {
  /*width: 287px;*/
  /*height: 285px;*/
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false); }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  height: 100%;
  font-family: "Microsoft YaHei",".PingFang-SC-Medium", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; }

* {
  /*user-select属性,会使【苹果手机端】和【MicroSoft Edge】的输入框无法输入.所以,在实际开发webApp的时候,不要使用~*/ }

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; }

header {
  height: 5.2rem;
  width: 100%;
  order: 1;
  color: #fff;
  z-index: 9999;
  overflow: hidden;
  border-top: 1px solid #416A96;
  display: flex;
  flex-direction: row;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#295788+0,1b3a5b+100 */
  background: #295788;
  /* Old browsers */
  background: -moz-linear-gradient(top, #295788 0%, #1b3a5b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #295788 0%, #1b3a5b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #295788 0%, #1b3a5b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#295788', endColorstr='#1b3a5b', GradientType=0);
  /* IE6-9 */
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
  header h1 {
    line-height: 4.5rem;
    font-size: 1.8rem;
    text-align: center;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto; }

section {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  order: 2;
  z-index: 1;
  overflow: hidden;
  position: relative; }

footer {
  z-index: 2;
  width: 100%;
  height: 5rem;
  order: 3; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent;
  text-decoration: none; }

a:active, a:hover {
  outline: 0;
  text-decoration: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

body, div, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

ul, li {
  list-style: none; }

mark {
  color: #000;
  background: #ff0; }

small {
  font-size: 80%; }

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40rem; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 0;
  border-top: 1px dashed #C5C5C5; }

em, i {
  font-style: normal; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  width: 2.5rem;
  /*margin: 10*/ }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2rem;
  border: 1px solid #c0c0c0; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0; }

ul, li, dl, dd, dt {
  margin: 0;
  padding: 0;
  list-style: none; }
.loading-frame {
  display: flex;
  z-index: 99999;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }

.loading-frame-layer {
  margin: 0 auto;
  padding: 3rem;
  background: rgba(11, 14, 20, 0.9);
  color: #fff;
  font-size: 1.3rem;
  border-radius: 7px;
  position: relative; }

.loading-close-button {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 0 7px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  background: #b01f1f;
  padding: 0; }

.loading-close-ico {
  font-size: 2.4rem;
  top: -0.2rem;
  left: 0.2rem; }
.tip-box {
  background: #fafafa;
  padding: 0.9rem;
  text-align: center;
  font-size: 1.4rem;
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  color: #616161;
  /* font-family: "MicroSoftBlack"; */
  opacity: 1;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 0px 12px #0b0b0b; }
.warn-tip {
  background: #e4c064;
  padding: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  color: #e80a0a;
  /* font-family: "MicroSoftBlack"; */
  opacity: 1;
  display: none; }
.box-frame {
  position: relative;
  z-index: 991;
  background-color: #fff;
  box-sizing: content-box;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  transition: opacity 0.3s ease-in, width 0.3s ease;
  -webkit-transition: opacity 0.3s ease-in, width 0.3s ease;
  -o-transition: opacity 0.3s ease-in, width 0.3s ease;
  -moz-transition: opacity 0.3s ease-in, width 0.3s ease;
  margin: 0 auto;
  max-height: 80%; }

.tip-box-wide {
  width: 90%; }

.scroll-table-header .box-title {
  border: none; }

.box-title {
  font-size: 2.0rem;
  /* line-height: 100%; */
  border-bottom: 1px #477cb3 solid;
  color: #588CD2;
  /* text-indent: 15rem; */
  /* margin-bottom: 10rem; */
  padding: 1.0rem 1.5rem; }

.box-p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin: 1.0rem 3%;
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-wrap; }

.alert-box {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.3);
  /* flex-flow: column; */
  align-items: center;
  align-content: center; }
/************************part of body style************************/
.show {
  display: block; }

.hide {
  display: none; }

.char-form {
  position: absolute;
  top: 114px;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  height: 30rem;
  background: #fff;
  z-index: 10000;
  box-sizing: border-box;
  box-shadow: 0 3px 5px #38567e; }
.char-body {
  width: 100%;
  height: 100%;
  flex-shrink: 3;
  overflow: auto; }

.native-content {
  flex-direction: row; }
  .native-content .char-username {
    letter-spacing: 1px;
    color: #9B9B9B;
    padding-bottom: 5px;
    text-align: left; }

.opposite-content {
  flex-direction: row-reverse; }
  .opposite-content .char-username {
    letter-spacing: 1px;
    color: #9B9B9B;
    padding-bottom: 5px;
    text-align: right; }

.RMTChar-timer {
  text-align: center;
  font-size: 1.4rem;
  color: #666666;
  padding: 1rem 0; }

.char-block {
  position: relative;
  padding: 0.2rem 1rem 0rem;
  box-sizing: border-box;
  border-radius: 7px;
  text-align: left;
  word-break: break-all;
  display: flex; }
  .char-block .item-descriptor {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0; }
  .char-block .item-value {
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    padding: 0 7px 3px 7px; }
    .char-block .item-value .char-content {
      height: 100%;
      box-sizing: border-box;
      flex-shrink: 1;
      z-index: 2; }
      .char-block .item-value .char-content .char-sentence {
        line-height: 150%;
        color: #4A4A4A;
        padding: 1rem 0.7rem 1rem 0.7rem;
        flex-shrink: 1;
        background: #efefef;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        overflow: hidden;
        display: inline-block; }

.char-pop-corner {
  display: inline-block;
  width: 10px;
  height: 15px;
  background: #fff;
  overflow: hidden;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  transform: rotateY(0deg);
  /*IE*/
  filter: FlipH; }

.char-pop-corner:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  background: #efefef;
  width: 28px;
  border-radius: 100%;
  height: 22px;
  z-index: 1;
  transform: rotate(90deg); }

.char-pop-corner:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  background: #ffffff;
  width: 20px;
  border-radius: 100%;
  height: 15px;
  z-index: 2; }

.RMTChar-remote .char-pop-corner {
  width: 10px;
  height: 15px;
  background: #fff;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 7px;
  left: -10px; }

.RMTChar-native .char-pop-corner {
  width: 10px;
  height: 15px;
  background: #fff;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 7px;
  right: -10px;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  transform: rotateY(180deg);
  /*IE*/
  filter: FlipH; }
.char-footer {
  position: relative;
  width: 100%;
  font-size: 1.4rem;
  height: 5rem;
  /*background: #666;*/
  z-index: 3;
  border: 1px solid #D1D1D1;
  flex-shrink: 1; }

.char-footer .left-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 100%;
  display: table;
  z-index: 3; }

.char-footer .left-side > span {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #5F5F5F; }

.char-footer .middle-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  display: table;
  z-index: 2;
  padding: 0.7rem 6rem;
  box-sizing: border-box; }

.char-footer .middle-side > label {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.char-footer .middle-side label > button {
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 100%; }

.char-footer .middle-side label button > i {
  color: #e5e5e5;
  font-size: 3rem;
  top: -5px;
  left: 6px; }

.char-footer .middle-side label > input {
  width: 100%;
  height: 100%;
  padding: 0 3rem 0 1rem;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #D1D1D1;
  border-radius: 7px;
  color: #6a6a6a; }

.char-footer .right-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  height: 100%;
  display: table;
  z-index: 3; }

.char-footer .right-side > span {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #5F5F5F; }
.char-header {
  position: relative;
  width: 100%;
  height: 4rem;
  background: #666;
  flex-shrink: 1;
  z-index: 3;
  display: flex;
  box-shadow: 0 3px 3px #C0C0C0;
  overflow: hidden; }

.char-back-btn {
  width: 4.2rem;
  height: 100%;
  display: table;
  background: #477cb3;
  border-right: 1px solid #3c6793;
  flex-shrink: 0;
  z-index: 2; }
  .char-back-btn span > i {
    border-color: #fff;
    left: 1rem;
    float: left; }

.char-close-btn {
  width: 4.2rem;
  height: 100%;
  flex-shrink: 0;
  border-left: 1px solid #5c9ee1;
  background: #477cb3;
  z-index: 2; }
  .char-close-btn .char-close-ico {
    color: #fff;
    font-size: 3rem;
    left: 0;
    top: 0; }

.char-title {
  width: 100%;
  height: 100%;
  background: #477CB3;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-shrink: 4;
  border-left: 1px solid #5c9ee1;
  border-right: 1px solid #3c6793;
  z-index: 1; }
  .char-title span {
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 2px;
    margin: 0 auto; }
/****************************hover button style**********************************/
.hover-box {
  width: 4.2rem;
  height: 4.2rem;
  position: fixed;
  z-index: 9999;
  top: 5rem;
  left: 1rem; }

.message-remain-count {
  width: 40%;
  height: 100%;
  display: block;
  float: right;
  box-sizing: border-box;
  padding: 0 5%;
  line-height: 200%;
  text-align: center; }

.char-with {
  width: 60%;
  height: 100%;
  display: block;
  padding: 0 5%;
  line-height: 200%;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
  text-overflow: ellipsis; }

.message-remain-form {
  width: 8rem;
  height: 3rem;
  border-left: 1px solid #96b5d4;
  position: absolute;
  top: 0.5rem;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden; }
  .message-remain-form div {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    color: #e8eef5;
    position: relative;
    left: 0;
    top: 0; }

.char-message-tips-img {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  z-index: 2;
  background-color: #477cb3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 3rem 3.3rem; }

.char-hover-button {
  width: 4rem;
  height: 4rem;
  background: #477cb3;
  position: absolute;
  top: 5rem;
  left: 0;
  display: none;
  z-index: 10001;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(110, 110, 110, 0.6);
  overflow: hidden; }

.char-hover-button-full {
  width: 12rem; }

.animation-width {
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease; }
/****************************phrase form style**********************************/
.phraseForm {
  position: absolute;
  top: 200px;
  left: 0;
  width: 18rem;
  height: 18rem;
  background: #666;
  z-index: 10001;
  box-sizing: border-box;
  box-shadow: 0 0 7px #3c3c3c; }

.phraseList {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  z-index: 2; }

.phraseItem {
  width: 6rem;
  height: 6rem;
  background: #eee;
  box-sizing: border-box;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  float: left;
  display: table;
  position: relative;
  box-shadow: 1px 1px 1px #545454;
  color: #636363; }

.phraseButton {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #eee;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px #545454; }
.user-list-frame {
  width: 50%;
  height: 30%;
  position: fixed;
  left: 1rem;
  top: 5rem;
  z-index: 9999;
  background: #333;
  box-shadow: 4px 6px 10px rgba(64, 64, 64, 0.7);
  display: flex;
  flex-direction: column; }
  .user-list-frame .user-list-close-button {
    width: 3rem;
    height: 3.6rem;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 3rem; }
  .user-list-frame .user-list-header {
    height: 3.6rem;
    text-align: center;
    color: #fff;
    width: 100%;
    z-index: 2;
    flex-shrink: 0;
    display: block;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    background: #00754b;
    border: 1px solid #0c864b;
    box-sizing: border-box; }
    .user-list-frame .user-list-header h2 {
      line-height: 300%; }
  .user-list-frame .user-list-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-shrink: 1;
    z-index: 1;
    overflow: auto;
    border: 1px solid #00a253; }
  .user-list-frame .user-close {
    left: 0;
    top: 0; }
  .user-list-frame .extend-trigger {
    width: 4rem;
    height: 4rem;
    position: absolute;
    bottom: -2rem;
    right: -2rem;
    z-index: 3; }

.head-bar-left-button-frame {
  background: none;
  position: relative;
  overflow: visible;
  margin: 0 auto;
  width: 3.6rem;
  display: block;
  height: 3.6rem;
  border: 1px solid #1A3755;
  outline: none;
  border-radius: 4px;
  border-bottom: 1px solid #1d2f42;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .head-bar-left-button-frame .head-bar-left-button {
    width: inherit;
    height: inherit;
    top: 0;
    position: absolute;
    left: 0;
    background-size: 70%;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    display: block; }
    .head-bar-left-button-frame .head-bar-left-button:focus {
      outline: none; }
  .head-bar-left-button-frame .head-bar-left-button-normal {
    border-top: 1px solid #52657a;
    border-bottom: 1px solid #1A3755; }
  .head-bar-left-button-frame .head-bar-left-button-active {
    border-top: 1px solid #1e4267;
    border-bottom: 1px solid #4b6077; }

.item-list {
  display: flex;
  flex-flow: row;
  overflow: hidden;
  /*.send-msg{
    background:url("../images/send_msg.png") no-repeat center center;
    -webkit-background-size: 3.6rem;
    background-size: 3.6rem;
  }*/ }
  .item-list button {
    flex-shrink: 1;
    box-sizing: border-box; }
  .item-list .item-button {
    flex-shrink: 1;
    box-sizing: border-box;
    border-right: 1px solid #808080; }
  .item-list .extend-button {
    flex-shrink: 1;
    width: 5.6rem;
    border-left: 1px solid #00f19b;
    box-sizing: border-box; }

.user-list-special-mgr {
  background: #000 !important;
  color: #d2d2d2 !important; }
.user-register-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 46, 69, 0.3);
  z-index: 9999;
  display: flex;
  align-items: center; }
  .user-register-frame .user-register-content {
    margin: 0 auto; }
  .user-register-frame .user-register-input {
    text-align: center;
    font-size: 1.6rem;
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: 3px 6px 9px rgba(0, 70, 92, 0.3); }
  .user-register-frame .user-register-common-button {
    width: 5rem;
    text-align: center;
    margin-left: 1rem;
    border-radius: 100%;
    height: 5rem;
    padding: 0;
    border-top: 0;
    box-shadow: 3px 6px 9px rgba(0, 70, 92, 0.3); }

.user-register-sure-button {
  background: #33961f;
  color: #e5ffe7; }

.user-register-disabled-button {
  background: #a0a0a0;
  color: #dadada; }
.slider-tab {
  width: 100%;
  position: relative;
  height: 5rem;
  z-index: 19; }

.slider-tab-chunk li.on {
  border-bottom-color: #DDF3FE; }

.slider-tab-chunk li.on a {
  font-size: 0.7rem;
  color: #DDF3FE;
  display: block; }

.slider-tab-chunk li a {
  color: #7CC2E4;
  font-size: 0.6rem;
  display: block; }

.nav-active {
  color: #fff !important;
  font-size: 1.6rem !important;
  border-right: 1px solid #1d528e !important;
  border-left: 1px solid #1d528e !important;
  background: #163b65 !important; }

.sliding-shoe {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 3px solid #dfdfdf; }

.slider-tab-chunk {
  height: 100%;
  width: 100%;
  background: #0c2d51;
  box-sizing: border-box;
  box-shadow: 0 3px 3px #253d5d; }

.slider-tab-chunk > button {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  float: left;
  font-size: 1.5rem;
  color: #1d5974; }
.context_box {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #172434;
  position: relative;
  box-sizing: border-box; }

.context_box .head {
  top: 0;
  overflow: hidden; }

.context_box .footer {
  bottom: 0; }

.context_box .car-module-list {
  width: 50%; }

.context_main_with_title {
  background: #FEFEFE;
  position: absolute;
  width: 100%; }

.car-module-main {
  background: #FEFEFE;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: 200%;
  box-shadow: 0 0 10px #15202e;
  overflow: hidden;
  left: 0;
  top: 0; }

.module-list {
  height: 100%;
  width: 100%;
  float: left;
  background: #416595;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  border-right: 1px solid #293f5e;
  border-left: 1px solid #547fb8;
  box-sizing: border-box; }

.context_box .car-module-list {
  width: 50%; }

.module-list-ul {
  width: 100%;
  float: left;
  height: auto;
  min-height: 1px;
  position: absolute;
  left: 0;
  top: 1rem; }

.module-list-ul-li {
  background-size: 100% 100%;
  display: block;
  width: 33.333333%;
  padding-right: 1.95%;
  padding-bottom: 1.95%;
  float: left;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  /*padding-top: 0.3em;*/ }

.module-list-ul-li > a {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px; }

.module-list-ul-li:nth-child(3n+1) {
  padding-left: 1.95%; }

.fun-module-line-index {
  width: 100%;
  min-height: 80%;
  max-height: 90%;
  margin: 0 auto; }

.index-assistList-ul-li .fun-module-line-index {
  max-height: 100%;
  margin: 0 auto; }

@media screen and (min-width: 797px) {
  .index-img-container {
    width: 4em;
    height: 4em;
    margin: 0 auto;
    background-size: 100% 100%;
    vertical-align: middle; } }

.index-img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  vertical-align: middle; }
  .index-img-container img {
    width: 72%;
    height: auto;
    margin-top: 5%; }

.car-name {
  height: 14%;
  display: inline-block;
  font-size: 1.2rem;
  color: #4E4E4E; }

.module-list-ul-li > button {
  background: #ededed;
  border-radius: 6px;
  box-shadow: 3px 5px 6px #2b3b51; }
.wrapper-scrolling {
  border-right: 1px solid #243449 !important;
  border-left: 1px solid #243449 !important; }

.scroller-scrolling {
  border: 1px solid #182332 !important;
  border-top: 1px solid #243449 !important;
  border-bottom: 1px solid #243449 !important; }

.listItem-selected {
  color: #5879a5 !important;
  font-weight: 800 !important; }

.middle-mark {
  width: 100%;
  height: 0;
  border-top: 1px solid #2a4670;
  border-bottom: 1px solid #0d141e;
  /*background: rgba(100,100,100,0.2);*/
  position: absolute;
  top: 50%;
  z-index: 1; }

.scroll-box {
  width: 90%;
  margin: 0 auto;
  height: auto;
  line-height: 300%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  z-index: 10;
  cursor: pointer;
  overflow: hidden; }

#wrapper0 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper0 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper0 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper1 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper1 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper1 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper2 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper2 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper2 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper3 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper3 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper3 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper4 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper4 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper4 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper5 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper5 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper5 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper6 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper6 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper6 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper7 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper7 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper7 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper8 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper8 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper8 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper9 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper9 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper9 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper10 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper10 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper10 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper11 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper11 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper11 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper12 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper12 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper12 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper13 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper13 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper13 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper14 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper14 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper14 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper15 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper15 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper15 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper16 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper16 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper16 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper17 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper17 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper17 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper18 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper18 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper18 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper19 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper19 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper19 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }

#wrapper20 {
  box-sizing: border-box;
  width: 20%;
  background: #182332;
  box-shadow: 0px 0px 7px #121a26 inset;
  border-right: 1px solid #1f2d41;
  border-left: 1px solid #1f2d41;
  flex-shrink: 1; }
  #wrapper20 ul {
    width: 100%;
    border: 1px solid #1f2d41;
    box-sizing: border-box;
    box-shadow: 2px 0 3px #131b26; }
    #wrapper20 ul li {
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden;
      white-space: nowrap;
      color: #3b4b62;
      width: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      text-align: center;
      background: #1f2d41; }
.animation-layout {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column; }

.main-frame {
  height: auto;
  margin: 0 auto;
  width: 80%;
  background: #1f2d41;
  max-height: 80%;
  z-index: 200;
  overflow: hidden;
  position: relative;
  order: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column; }
  .main-frame:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 111;
    border: 1px solid #304a6c;
    border-right: 1px solid #5879a5;
    border-bottom: 1px solid #6085b6;
    box-shadow: 0px 0px 12px #121924 inset;
    pointer-events: none; }

.relative-frame {
  width: 12rem;
  height: auto;
  border-bottom: 1px solid #192434;
  order: 0;
  box-shadow: 0 0 7px #131c29 inset;
  background: #1f2d41;
  margin: 0 auto 3.6rem;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column; }
  .relative-frame:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 111;
    border: 1px solid #304a6c;
    box-shadow: 0px 0px 7px #121924 inset; }
.default {
  background: #fff; }

.clearing {
  background: #EFEFEF; }

.init-scanner-view {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-flow: column; }
  .init-scanner-view span {
    color: #898989;
    font-size: 1.6rem;
    text-align: center; }
  .init-scanner-view button {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin: 1rem auto;
    border: 2px solid #fff; }
    .init-scanner-view button:focus {
      border: 0;
      outline: 0; }
.footer-bar {
  width: 100%;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: #477CB3;
  z-index: 16;
  overflow: hidden;
  height: 5rem;
  box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2); }
.bottom-bar-button-special {
  padding: 0; }

.bottom-button {
  width: 100%;
  height: 100%; }
.head-bar-left {
  outline: none;
  width: 15%;
  order: 1;
  height: 100%;
  border: none;
  background: none;
  display: block; }

.head-bar-right {
  display: block;
  width: 15%;
  height: 100%;
  order: 3;
  flex-shrink: 3; }

.head-bar-middle {
  width: 70%;
  height: 100%;
  border: none;
  background: none;
  font-size: 2rem;
  position: relative;
  flex-shrink: 1;
  order: 2;
  box-sizing: border-box; }
.head-bar-right-button {
  background: none;
  position: relative;
  overflow: visible;
  margin: 0 auto;
  width: 3.6rem;
  display: block;
  height: 3.6rem;
  border: 1px solid #1A3755;
  outline: none;
  border-radius: 4px;
  border-bottom: 1px solid #1d2f42;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

.head-bar-right-button > i {
  width: inherit;
  height: inherit;
  top: 0;
  position: absolute;
  left: 0;
  background-size: 70%;
  border: none;
  border-top: 1px solid #52657a;
  border-bottom: 1px solid #1A3755;
  box-sizing: border-box;
  border-radius: 4px;
  display: block; }
