div(ng-repeat="item in charSentence")
	p.RMTChar-timer(
		ng-show="item._interval >= 2*60*1000 || item._interval < 0"
		ng-bind="item.timer"
	)
	div(ng-class={'RMTChar-remote':item.remoteRole==='remote','RMTChar-native':item.remoteRole==='native'})
		p.userName(ng-hide="item._continuity && item._interval < 2*60*1000" ng-bind="item.userName")
		p.charContent
			span.charSentence(ng-bind="item.sentence") 聊天内容
			i.charPopCorner
