@import '../../../../../public/css/common';
.wrapper-scrolling{
  border-right: 1px solid #243449 !important;
  border-left: 1px solid #243449 !important;
}

.scroller-scrolling{
  border: 1px solid #182332 !important;
  border-top: 1px solid #243449 !important;
  border-bottom: 1px solid #243449 !important;
}
.listItem-selected{
  color: #5879a5 !important;
  font-weight: 800 !important;
}

.middle-mark {
  width: 100%;
  height: 0;
  border-top: 1px solid #2a4670;
  border-bottom: 1px solid #0d141e;
  /*background: rgba(100,100,100,0.2);*/
  position: absolute;
  top: 50%;
  z-index:1;
}

.scroll-box {
  width: 90%;
  margin: 0 auto;
  height: auto;
  line-height: 300%;
  position: relative;
  display:flex;
  flex-flow:row nowrap;
  justify-content:flex-end;
  z-index:10;
  cursor: pointer;
  overflow: hidden;
}

@for $i from 0 through 20 {
  #wrapper#{$i} {
    box-sizing: border-box;
    width: 20%;
    background: #182332;
    box-shadow: 0px 0px 7px #121a26 inset;
    border-right: 1px solid #1f2d41;
    border-left: 1px solid #1f2d41;
    flex-shrink: 1;
    ul {
      width: 100%;
      border: 1px solid #1f2d41;

      box-sizing: border-box;
      box-shadow: 2px 0 3px #131b26;
      li {
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
        white-space: nowrap;
        color: #3b4b62;
        width: 100%;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        text-align: center;
        background: #1f2d41;
      }
    }
  }
}

