
div.charFooter#typeForm
	div.left-side(ng-click="showPhraseForm($event)")
		span 短语
	div.middle-side
		input.disable-RMTActive.disable-plugin.type-entering(type="text" ng-model="contentsTyped")
	div.clear-button.table(ng-click="contentsTyped = ''")
		div.table-cell(style="text-align:center")
			img(src="./images/common/refresh_2.png")
	div.right-side.type-send
		span(ng-click="sendContents(contentsTyped,$event)") 发送