$prefix: (-moz-, -webkit-, -o-);
@mixin compatible($key,$value) {
  #{$key} : $value;
  @each $prefix_ in $prefix {
    #{$prefix_}#{$key} : $value
  }
}

@mixin out-flow($style,$top,$left) {
  position: #{$style};
  top: #{$top};
  right: #{$left};
}