
div.user-name-frame#userNameFrame
   div.table-cell-center
      label
         input#userName.disable-plugin(
         type="text" size=22 maxlength=14 placeholder="取个牛逼点的名字"
         style="text-align:center; font-size: 1.6rem"
         )
      label
         input.item-button.disable-plugin#userNameBtn(
         type="button" style="width: 6rem;text-align: center;margin-left: 1rem;"
         value="确定"
         )
